%h1
  Is my conference gender blind?

%form{:method => "GET", :action => "/results"}
  %table.inset
    %tr
      %td.header
        \% of women developers
      %td.header
        \# of women speaking
      %td.header
        \# of total speakers
    %tr
      %td.input
        %input{:type => "text", :name => "p", :value => "20"}
      %td.input
        %input{:type => "text", :name => "w", :value => "0"}
      %td.input
        %input{:type => "text", :name => "t", :value => "15"}
    %tr
      %td{:colspan => "3"}
        %input.submit{:type => "submit", :value => "Find out"}
