!!! 5
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang=>"en"}
  / <![endif]
  %head
    %meta{:charset=>"utf8"}
    %meta{:content=>"width=device-width, initial-scale=1, maximum-scale=1", :name=>"viewport"}

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    %link{:href=>"http://fonts.googleapis.com/css?family=Inconsolata|Forum|Metrophobic|Wire+One", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"/stylesheets/reset.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"/stylesheets/layout.css", :rel=>"stylesheet", :type=>"text/css"}

    %title Is my conference gender blind?
  %body
    %table
      %tr.frame
        %td.content
          = yield
