body, html {
  background-color: #333;
  background-image: url('../images/noise_black.png');
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: visible;
}

body > table {
  position: absolute;
  width: 100%;
  height: 100%;
}

.frame {
  vertical-align: middle;
}

.content {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 6em;
}

td.header, h1, h2 {
  color: #d8d8d8;
  text-shadow: 0.0em 0.0em 0.07em #111;
}

table.inset {
  width: 80%;
}

td.input input, td.input div {
  font-size: 6em;
  width: 1.6em;
  height: 0.9em;
  text-align: center;
  background-color: #333;
  border: none;
  color: #73aee1;
  font-family: "Metrophobic", verdana;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0;
}

td.input div {
  font-size: 3em;
  height: 1.2em;
}

td.input {
  margin: 0;
  text-align: center;
}

input.submit {
  font-size: 5em;
  color: #73aee1;

  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
